@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
}
ul,
li {
  list-style-type: none;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.max-width {
 
      padding-left: 1.25rem/* 20px */;
    padding-right: 1.25rem/* 20px */;
}

.btn-defsett {
  background-color: #06b6d4;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 150ms;
  cursor: pointer;
}
.btn-cta:hover {
  opacity: 0.75;
}




@media (min-width: 1024px) {
    .max-width {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1280px) {
    .max-width {
        max-width: 72rem/* 1152px */;
    }
}
@media (min-width: 1536px) {
    .max-width {
        padding-left: 0px;
        padding-right: 0px;
    }
}

